/* General Styles */
* {
    font-family: Monospace;
    font-size: 12px;
    min-height: 0;
}

/* Colors */
@define-color semigray rgba(255, 255, 255, 0.05);
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
/*@define-color base #1e1e2e;*/
@define-color mantle #181825;
@define-color crust #11111b;
@define-color base rgba(50,50,105,0.6);

/* Waybar Root */
#waybar {
    background: transparent;
    color: @text;
    margin: 0 1rem 0 0;
    padding: 0;
    border-radius: 1rem;
}

/* Workspaces */
#workspaces {
    background-color: @base;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    margin: 5px 0 5px 1rem;
    opacity: 1;
    transition: all 0.2s ease;
}

#workspaces button {
    padding: 0.4rem;
    border-radius: 1rem;
    font-weight: bold;
    opacity: 0.5;
}

#workspaces button.active {
    opacity: 0.9;
}

/* Window */
#window {
    background-color: @base;
    color: @text;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    margin: 5px 0;
    padding: 0 10px;
}

window#waybar.empty #window {
    background: transparent;
    border: none;
    transition: all 0.35s ease;
}

/* Miscellaneous Modules */
#custom-music,
#tray,
#backlight,
#battery,
#clock,
#custom-lock,
#network,
#pulseaudio,
#bluetooth,
#custom-power,
#custom-btop {
    background-color: @base;
    color: @text;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

/* Clock */ 
#clock {
color: @teal;
border-left: 1px solid rgba(255,255,255,0.5);
border-right: 1px solid rgba(255,255,255,0.5);
margin-right: 1rem;
border-radius: 1rem
}

#pulseaudio {
    color: @sapphire;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem 0 0 1rem;
}

/* Battery */
#battery {
    color: @green;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 1rem 1rem 0;
    margin-right: 1rem;
}

#battery.charging {
    /* Styles for charging state */
}

#battery.warning:not(.charging) {
    /* Styles for warning state */
}

/* Backlight */
#backlight {
    color: @yellow;
}

/* Custom Modules */
#custom-music {
    border-radius: 1rem;
}

#custom-lock {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem 0 0 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 1rem 1rem 0;
}

/* Tray */
#tray {
    margin-left: 1rem;
    border-radius: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

/* Network */
#network {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem 0 0 1rem;
    margin-left: 1rem;
    color: @sapphire;
}

#bluetooth {
    color: @teal;
}

#custom-btop {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 1rem 1rem 0;
    color: @blue;
    padding-right: 1.1rem;
}

