* {
    font-family: Monospace;
    font-size: 12px;
    min-height: 0;
}

@define-color semigray rgba(255,255,255,0.05);

#waybar {
background: transparent;
color: @text;
margin: 3px 3px;
}

#workspaces {
border-radius: 1rem;
margin: 5px;
background-color: @semigray;
margin-left: 1rem;
color: white;
opacity: 1;
}

#workspaces button {
opacity: 0.5;
border-radius: 1rem;
padding: 0.4rem;
font-weight: bold;
}

#workspaces button.active {
font-weight: bold;
opacity: 0.9;
}

#window {
background-color: rgba(255,255,255,0.05);
color: white;
border-radius: 1rem;
padding-right: 10px;
padding-left: 10px;
}

#custom-music,
#window
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
background-color: rgba(255,255,255,0.05);
padding: 0.5rem 1rem;
margin: 2px 0;
color: white
}

#clock {
border-radius: 0px 1rem 1rem 0px;
padding-right: 1rem;
}

#battery {
}

#battery.charging {
}

#battery.warning:not(.charging) {
}

#backlight, #battery {
border-radius: 0;
}

#pulseaudio {
border-radius: 1rem 0px 0px 1rem;
margin-left: 1rem;
}

#custom-music {
border-radius: 1rem;
}

#custom-lock {
border-radius: 1rem 0px 0px 1rem;
}

#custom-power {
margin-right: 1rem;
border-radius: 0px 1rem 1rem 0px;
}

#tray {
opacity: 0;
}
