/* Setting the color I'm going to use throughout*/
:root {
  --shefpurple: #3B2BC0;
}

header {
    color: var(--shefpurple);
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    font-size: 1.2rem;
}

body {
    background-color: beige;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.1rem;
    height: 99%;
    display: block;
}

/*---------------------------------------------------------------------*/
/* 
Navbar modified from 
https://responsivenavigation.net/examples/simple-toggle/ 
*/

.navbar {
  width: 100%;
  background-color: var(--shefpurple);
  border-radius: 15px;
}

ul.simple-toggle {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul.simple-toggle li {
  display: inline-block;
  border-radius: 15px;
}

ul.simple-toggle li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

ul.simple-toggle li a:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.anchor-link {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  color: white;
  margin: 2px;
  float: none;
}

/* This hides the mobile nav when screen not wide enousgh */
#mobile-nav {
  display: none;
}

@media (max-width:768px) {
  ul.simple-toggle {
    display: none;
  }
  
  .anchor-link, #mobile-nav {
    display: block;
  }

  ul.open {
    background-color: var(--shefpurple);
    border-radius: 15px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  ul.open li {
    display: block;
    text-align: center;
    border: 1px white solid;
  }
  
  ul.open li a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  ul.open li a:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

/* Simple indicator on current page/tab */
.simple-toggle .current a{
text-decoration: underline;
}

.open .current a{
  text-decoration: underline;
}

/*---------------------------------------------------------------------*/
/* The following mostly only used in index.html */
/* Only border-top else line appears below dashed*/
hr.divider {
  border: none;
  border-top: 2px dashed;
  margin-top: 3%;
  text-decoration: none;
}

#home article {
  margin: 2rem 0 7rem 0;
  width: 99%;
  display: block;    
  flex-wrap: wrap;
} 

#home article h2 {
  padding-top: 2%;
}

section.quiz {
  margin-top: 1%; /* Stops the quiz section from combining nastily with above */
}

/* This is the diamond img */
#home img { 
  max-width: 500px;
  width: 99%;
  border-radius: 15px;
  border: 3px black solid;
}

/* This is to make sure the text below img in mobile view*/
.fig {
    width: 99%;
    padding: 1%;
    float: left;
    margin: 0 auto;
    font-size: 0.8rem;
}

/* Move text to right of image in home page */
@media only screen and (min-width: 992px){
  .fig {
    max-width: 500px;
    width: 45%;
    margin-right: 2rem;
  }
}

/*---------------------------------------------------------------------*/
/* 
F&B and parks blocks, including images and text and anchors
What I'm trying to achive is the divs changing size while resizing window, 
but having certain maximum/desired widths
*/

.item { 
    display: block;
    background-color: white;
    margin: 1rem auto;
    border: 3px solid;
    width: 80%;
    max-width: 500px;
    text-align: center;
    padding-bottom: 1%; /* Just to make text not touch border */
    transition: width 0.3s ease, max-width 0.3s ease;
}

/* width increase of 3% on hover*/
.item:hover {
  width: 83%;
  max-width: 510px;
}

.item img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

/* 
these rules are necessary because the images have wildly different resolutions 
and seperate heights/widths were set for different cases, i.e. quiz only has 1 column
vs others have 2 columns, so size considerations are different.
*/

/* Picnic page */
#picnics .item img {
  height: 265px;
}

/*---------------------------------------------------------------------*/
/* This is for the quiz page */

#quiz .item {
  height: 450px;
  max-width: 600px;
}

#quiz .item:hover {
max-width: 610px;
}

#quiz .item img {
max-height: 300px;
max-width: 720px;
}

span.ans { /* Hide answer by camoflaging it */
    background-color: black;
    color: black;
}

span.ans:hover {
    color: white;
}

span.ans:active{ /* I think this does something for mobile on press?? */
    color: white;
}

/* LargER devices like laptops and desktops */
@media only screen and (min-width: 992px){
  #wrapper {
    margin: auto 0;
    display:flex;
    flex-wrap: wrap;
    width: 99%;
  }

  .item {
      width: 45%;
      max-width: 600px;
      min-height: 570px;
      transition: max-width 0.3s ease, width 0.3s ease;
  }

  .item:hover {
    width: 46%;
    max-width: 610px;
    transition: max-width 0.3s ease, width 0.3s ease;
  }
}

/*---------------------------------------------------------------------*/
/* This is for contact page */

.left, 
.right {
  font-size: 1.6rem;
  font-weight: bold;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.contact-details {
  background-color: white;
  margin-top: 5%;
  padding: 5px;
  width: fit-content;
  border: 3px solid black;
}

form {
  margin: auto;
  width: 99%;
  padding: .4rem;
  background-color: var(--shefpurple);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  border: 3px black solid;
}

label {
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 99%;
  padding: 10px;
  border: 1px solid beige;
  border-radius: 15px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

/* Button gets lighter on hover here*/
input[type="submit"] {
  background-color: rgb(250, 238, 2);
  color: black;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(254, 254, 172);
  color: black;
  transition: background-color 0.3s ease;
}

/*---------------------------------------------------------------------*/
/* Testing page */
#testing img {
  width: 99.9%;
}

#testing figure {
  border: 3px solid black;
}

#mobileview { /* This is the image for mobile view */
  max-width: 400px;
}

img.proof {
  max-width: 550px;
  width: 99%;
}

/*---------------------------------------------------------------------*/
/* Design page */
.centeredp {
  text-align: center;
  font-weight: bold;
}

#design figure {
  width: 99%;
  text-align: left;
  margin: auto;
  padding-bottom: 1%;
  font-size: 0.8rem;

}

#design img {
  width: 90%;
  max-width: 850px;
}
/*---------------------------------------------------------------------*/
/* Footer goes here */

footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}

footer ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

footer ol li {
  display: inline-block;
  padding: 1%;
}

/*---------------------------------------------------------------------*/